
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: gray;
}

nav{
    width: 100%;
    height: 70px;
    background: #232323;
}

.main_div{
    width: 80%;
    height: 100vh;
    margin: auto;
    background: white;
}

.main_div h1{
    text-align: center;
}

.buts{
    width: 40%;
    height: auto;
    margin: 30px 30% 20px 38%;
}


.a_but{
    background: white;
    margin: 0 0 0 20px;

}

.a_but p{
    width: 100px;
    height: 30px;
    border: #232121 solid 1px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    color: #232121;
    margin: 20px 0 0 0;
}

.a_but p:hover{
    width: 120px;
    height: 40px;
    border: #232121 solid 1px;
}

table, td, th {
    border: 1px solid #232121;
    text-align: left;
}

table {
    width: 80%;
    height: auto;
    border-collapse: collapse;
    margin: 0 10% 0 10%;
}

th, td {
    padding: 15px;
}

input{
    width: 200px;
    height: 50px;
    margin:  0 0 0 20px;
    border: gray solid 1px;
}

input:focus{
    outline: #423e3e;
    border: #423e3e solid 1px;
}
#form_1{
    margin: 30px 10% 0 18%;
}

#add_1{
    width: 100px;
    height: 30px;
    margin:  20px 0 0 64%;
}

#add_1:hover{
    width: 120px;
    height: 32px;
}

#form_2{
    margin: 30px 14% 0 14%;
}

#add_2{
    width: 100px;
    height: 30px;
    margin:  20px 0 0 79%;
}

#add_2:hover{
    width: 120px;
    height: 32px;
}

#singin{
    position: absolute;
}
#singin p{
    margin: 0;
}

#registration{
    background: white;
}

#registration p{
    background: white;
    margin: 0;
}


#logout{
    position: absolute;
}

#logout p{
    margin: 0;
}
